<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DesGo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5E64CC71C44D06400F85822</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5E64CE01C44D06500F85822</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5E64CEB1C44D06500F85822</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
